{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                Make Reservation
            </h1>
            {{$res := index .Data "reservation"}}
            <form action="/make-reservation" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group mt-5">
                    <label for="first_name">First name:</label>
                    {{with .Form.Errors.Get "first_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input 
                    id="first_name" 
                    type="text" 
                    name="first_name" 
                    class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                    value="{{$res.FirstName}}"
                    autocomplete="off"
                    required>
                </div>

                <div class="form-group mt-5">
                    <label for="last_name">Last name:</label>
                    {{with .Form.Errors.Get "last_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input 
                    id="last_name" 
                    type="text" 
                    name="last_name" 
                    class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                    value="{{$res.LastName}}" 
                    autocomplete="off"
                    required>
                </div>

                <div class="form-group mt-5">
                    <label for="email">Email:</label>
                    {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                    value="{{$res.Email}}"
                    autocomplete="off"
                    required>
                </div>

                <div class="form-group mt-5">
                    <label for="phone">Phone:</label>
                    {{with .Form.Errors.Get "phone"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input 
                    id="phone" 
                    type="text" 
                    name="phone" 
                    class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                    value="{{$res.Phone}}"
                    autocomplete="off"
                    required>
                </div>

                <hr>

                <input type="submit" class="btn btn-primary" value="Make Reservation">
            </form>
        </div>
    </div>
</div>
{{end}}
